{% extends 'base.html.twig' %}

{% block title %}Site/Client{% endblock %}

{% block body %}
<div class="container">
    <h1>Site/Client</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="supRe">
        <a href="{{ path('site_index') }}" class='button'>Retour</a>
        {{ include('site/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
